body {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 400;
	background-color: rgba(0, 0, 0, 0.02);
}

.button {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;	
}

.button-group li{	
	padding-top: 3%;
}

.button-group a{
	color: rgba(0, 0, 0, 1);
	background-color: transparent;
}

.button-group a:hover {
	background-color: #007095;
}

.button-group a:focus, .button-group a:active {
	color: rgba(0, 0, 0, 1);
	background-color: inherit;
}

.button-group{
	float: none;
}

@media only screen and (min-width: 40.063em) {
	.button-group{
		float: right;
	}
}

.namelogo {
	padding: 20px 10px 0px 10px;
}

@media only screen and (min-width: 40.063em) {
	.namelogo {
		padding-bottom: 20px;
	}
}

.namelogo h1 {
	font-size: 1.5em;
	font-weight: 300;
	text-align: center;
	display: inline-block;
}

@media only screen and (min-width: 40.063em) {
	.namelogo h1 {
		text-align: left;
	}
}

@media only screen and (min-width: 64.063em) {
	.namelogo h1 {
		text-align: left;
	}
}

.hero {
	background: url(../img/pierian-spring1.jpg);
/*	background: url(../img/spring.gif),url(../img/filter.png);*/
	background-size: cover;
	background-position: center;
	box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.15);
	height: 80%;
}

/*@media only screen and (max-width: 64.063em) {
	.hero {
		background: url(../img/pierian-spring1.jpg);
	}
}*/


.intro-text {
	padding-top: 20%;
	color: rgba(255, 255, 255, 1);
	text-align: center;
}

@media only screen and (min-width: 40.063em) {
	.intro-text{
		padding-top: 25%;
	}
}

@media only screen and (min-width: 64.063em) {
	.intro-text{
		padding-top: 18%;
	}
}

.intro-text p{
	font-family: 'Shadows Into Light', cursive;
	font-size: 44px;
}

.about, .work, .projects, .contact {
	padding: 50px 0 0 0;
}
.about {
	background: #272822;
	color: /*#b8b7a6*//*#e8e7d6*/#666;
}
.about h4 {
	color: #b8b7a6;
}
.image-holder {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}
.about img{
	margin: auto;
	display: block;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 1em dashed #666/*#e8e7d6*/;
}

.about .true-about {
	color: #b8b7a6;
}

ul.showcase {
	list-style-type: none;
	display: inline-table;
	margin: 1em;
}

ul.showcase li {
	display: inline-block;
	width: 100%;
}
@media only screen and (min-width: 40.063em) {
	ul.showcase li{
		width: 50%;
	}
}
@media only screen and (min-width: 64.063em) {
	ul.showcase li{
		width: 25%;
	}
}

.work img:hover {
	width: 100%;
	height: auto;
	opacity: 0.5;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	opacity: 0.8;
}

footer {
	padding: 80px 0 10px 0;
}

footer a:hover {
	color: rgba(0, 0, 0, 0.4);
	background-color: transparent;
}

.scrollup {
	height: 2em;
	width: 2em;
	padding:0.2em;
	text-align:center;
	background: url(../img/glyphicons-601-chevron-up.png) center no-repeat, #bbb;
	background-size: 1em auto;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-o-box-sizing: content-box;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	position:fixed;
	bottom:2em;
	right:2em;
	display: none;
	border-radius: 0.1em;
}

.scrollup:hover {
	background-color: #888;
}
